################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DS_2/x64/Debug/DS_2.pdb
